.card {
    overflow: hidden;

    .card-header {
        img {
            border-radius: 10px;
        }
    }

    .card-subtitle {
    }

    .card-block {
        width: 100%;
    }
}

.card-text {
    word-wrap: break-word;
    max-width: 90%;
}
